.map-component{
    margin:10px;
}
.btn{
    height: fit-content;
    width: max-content;
    color: red;
    background: yellow;
    font-size: 14px;
    font-style: bold;
    font-family: cursive;    
}